* {
  margin: 0;
  padding: 0;
}
.purple{
  color:rgb(92, 12, 150);
}
.large{
  font-size:0.5rem;
}
#element{
  color:rgb(184, 120, 230);
}
body {
  background-color: white;
  font-family:'Poppins', sans-serif;
}
nav{
  height:10vh;
  background:rgb(157, 60, 226);
}
.nav-links{
  display:flex;
  list-style:none;
  width:50%;
  height:100%;
  justify-content:space-around;
  align-items:center;
  margin-left:auto;
}
.nav-links a{
  color:white;
  text-decoration:none;
  font-size:16px;
}
.firstSection{
  position:relative;
  top:50px;
  color:black;
  display:grid;
  grid-template-columns:auto auto;
  grid-template-rows:400px 130px;
  font-size:2.5rem;
  place-items:center;
}
.firstSection a{
  text-decoration: none;
  display:inline-block;
}
.left{
  grid-area:1/1/2/2;
}
.right{
  grid-area:1/2/2/3;
}
.right img{
  height:300px;
  width:300px;
}
#About{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:50px;
  background-color:white;
  color:black;
  padding:23px;
  margin-bottom:23px;
}
#About img{
  height:300px;
  border-radius:900px;
}
.me{
  font-size:2rem;
}
.picture{
  text-align:center;
}
button{
  width:125px;
  margin-top:1rem;
  margin-right:0.5rem;
  padding:1rem;
  border-radius:5px;
  background-color:white;
  border: 1px solid black;
  color: black;
  cursor:pointer;
  transition-duration: 0.3s;
}
button:hover {
  background-color: rgb(157, 60, 226); /* Green */
  color: white;
}
.hover{
  opacity:0.5;
}
#Skills{
  display:grid;
  grid-template-columns:1fr 2fr 2fr;
  grid-template-rows:1fr 1fr;
  place-items:center;
  margin:100px;
  grid-gap:23px;
}
.description{
  font-size:1rem;
}
.frontEnd{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.languages{
  grid-area:2/2/3/3;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
#ContactMe{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  margin-bottom:23px;
}
#ContactMe .text{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  font-size:1.5rem;
  font-weight:bold;
}
form{
  margin:10px 0;
}
input[type="text"]{
  margin-bottom:5px;
  width:100%;
  padding: 5px 10px;
  border: 2px solid rgb(157, 60, 226);
  border-radius: 4px;
}
input[type="email"]{
  margin-bottom:5px;
  width:100%;
  padding: 5px 10px;
  border: 2px solid rgb(157, 60, 226);
}
.formbut{
  color:white;
  background-color: rgb(157, 60, 226);
  margin-top:5px;
  padding:10px;
  width:125px;
  margin-top:1rem;
  margin-right:0.5rem;
  border-radius:5px;
  border:none;
}
textarea{
  width:100%;
  height: 100px;
  padding:12px 12px;
  resize: none;
  border: 2px solid rgb(157, 60, 226);
}
footer li{
  display:inline;
  margin:10px;
  padding:10px;
}
.fa-twitter {
  color: black;
}
.fa-twitter:hover{
  color: rgb(157, 60, 226);
}
.fa-linkedin{
  color: black;
}
.fa-linkedin:hover{
  color: rgb(157, 60, 226);
}
.links{
  display:flex;
  justify-content:center;
}
@media screen and (min-width:320px) and (max-width:768px){
    .line{
      width:30px;
      height:3px;
      background:white;
      margin:5px;
    }
    nav{
      position:relative;
    }
    .hamburger{
      position:absolute;
      cursor:pointer;
      right:5%;
      top:50%;
      transform:translate(-5%,-50%);
      z-index:2;
    }
    .nav-links{
      position:fixed;
      background:rgb(157, 60, 226);
      height:100vh;
      width:100%;
      z-index:1;
      flex-direction:column;
      clip-path:circle(100px at 90% -20%);
      -webkit-clip-path:circle(100px at 90% -20%);
      transition: all 1s ease-out;
      pointer-events:none;
    }
    .open{
      clip-path:circle(1500px at 90% -10%);
      -webkit-clip-path:circle(1500px at 90% -10%);
      pointer-events:all;
    }
     .firstSection{
      display:flex;
      flex-direction:column;
      gap:10px;
      margin-bottom:23px;
     }
     #About{
      flex-direction:column;
      margin-top:100px;
     }
     .picture{
      order:1;
     }
     #Skills{
      display:flex;
      flex-direction:column;
     }
     .frontEnd{
       text-align:left;
     }
     #ContactMe{
      flex-direction:column;
     }
}
